*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.todo-list-title {
    color: white;
    font-size: 1.5rem;
}
.todo-list-container {
    margin-left: auto;
    margin-right: auto;
    padding: 20px 30px;
    background-color: #f44336;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-button-container {
    display: flex;
}

.input-data {
   width: 39rem;
   border: none;
   padding-left: 10px;
}
.add-button {
    padding: 6px 50px;
    border: none;
    background-color: #d9d9d9;
    color: #555;
    cursor: pointer;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
}

.list-item {
    position: relative;
    background-color: #f9f9f9;
}

.list-item:hover {
    background: #ddd;
}

.list-item.button-clicked {
    background-color: #888
}