*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.todo-list-title {
    color: white;
    font-size: 1.5rem;
}
.todo-list-container {
    margin-left: auto;
    margin-right: auto;
    padding: 20px 30px;
    background-color: #f44336;
    display: flex;
    flex-direction: column;
    align-items: center;
}
